.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  


html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: linear-gradient(90deg, #f66a12, #fbb714);
    box-sizing: border-box; 
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img, svg {
    vertical-align: middle;
}


/* HEADER */

header{
    display: flex;
    height: 50px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999999;
    background: linear-gradient(90deg, #0369f9, #48518c,#1e318d);

}
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.navbar .container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}
.navbar .menu{
  display: flex;
  gap: 3em;
}
.navbar .logo img{
    width: 180px;
}

.nav-links a,
.menu a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  border-radius: 8px; /* Borde redondeado */
  transition: color 0.3s ease;
}

/* Fondo blanco y borde degradado al hacer hover */
.nav-links a::before,
.menu a::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 22px; /* Borde redondeado */
  padding: 2px; /* Grosor del borde degradado */
  background: linear-gradient(90deg, #f66a12, #fbb714); /* Degradado */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  opacity: 0; /* Oculto inicialmente */
  transition: opacity 0.3s ease;
}

.nav-links a:hover::before,
.menu a:hover::before{
  opacity: 1; /* Muestra el borde degradado al hacer hover */
}

.nav-links a:hover,
.menu a:hover{
  background-color: #fff; /* Fondo blanco al hacer hover */
  color: #333; /* Color del texto */
  border-radius: 20px; /* Borde redondeado */
}

.navbar-mobile{
    display: none;
    justify-content: space-between;
}
.gradient-bar{
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #1350d8 25%, #fdba13 25%, #fdba13 50%, #25a223 50%, #25a223 75%, #f56a12 75%);
    
}

/* SECTION HERO */

.section-hero{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 3em;
}
.section-hero img{
    width: 60%;
}
.button-register a{
  background-color: white;
}

.register{
  display: flex;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
}
.gradient-button {
  position: relative;
  padding: 30px 40px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.8em;
  background: linear-gradient(90deg, #0369f9, #48518c,#1e318d); /* Fondo blanco por defecto */
  border: none; /* Sin borde para permitir el degradado del borde personalizado */
  border-radius: 42px; /* Radio de borde */
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Bordes degradados visibles por defecto */
.gradient-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 42px; /* Borde redondeado */
  background: linear-gradient(90deg, #0369f9, #48518c,#1e318d); /* Degradado */
  padding: 5px; /* Grosor del borde */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.gradient-button:hover {
  background: white;
  color: #0369f9;
  box-shadow: 5px 12px 20px rgba(255, 122, 6, 0.966); /* Sombra suave */
}


/* SECTION UN PACTO */

.section-pacto{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
.section-pacto img{
    width: 50%;
}
.section-pacto .contador{
    display: flex;
    gap: 2em;
    padding: 1em;
    border-radius: 20px;
}
.section-pacto .contador .card-time{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em 2em;
    border-radius: 15px;
    align-items: center;
}
.card-time .titulo{
    font-size: 35px;
    text-transform: uppercase;
    color: #41424a;
}
.card-time .text{
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
    color: #41424a;
    letter-spacing: -0.06em;
}
.contador .title-count{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* SECTION REFLEXIONEMOS */
.section-reflexionemos{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3em;
}
.section-reflexionemos .titulo-img{
  display: flex;
  width: 50%;
}
.section-reflexionemos .titulo-img img{
  width: 90%;
}
.section-reflexionemos .parrafos{
  display: flex;
  justify-content: center;
  color: white;
  gap: 2em;
  overflow: hidden;
}
.section-reflexionemos .parrafos p{
  width: 420px;
  line-height: 1.5em;
  font-size: 20px;
  word-spacing: 0.5em;
}

/* SECTION PROGRAMATE */
.section-programate{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3em;
}
.section-programate .titulo-img{
  display: flex;
  width: 50%;
}
.section-programate .titulo-img img{
  width: 90%;
}
.section-programate .items{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-programate .items-1,
.section-programate .items-2,
.section-programate .items-3{
  display: flex;
}

.section-programate .item img{
  width: 100%;
  padding: 1em 2em;
}

/* SECTION AGENDA */
.section-agenda{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3em;
}
.section-agenda .card-agenda{
  display: flex;
  padding: 2em 0.5em;
}
.section-agenda .card-agenda img{
  width: 70%;
}
.section-agenda .card-agenda:hover img {
  transform: scale(1.05); /* Gira y amplía ligeramente la imagen */
}

/* SECTION CONFERENCIAS */
.section-conferencias{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3em;
}

.section-conferencias .items{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-conferencias .items-1,
.section-conferencias .items-2{
  display: flex;
}

.section-conferencias .card-conferencia{
  padding: 2em;
}
.section-conferencias .card-conferencia img{
  width: 100%;
  padding: 1em 2em;
}

/* SECTION FUNDAODR */
.section-fundador{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.section-fundador .img-fundador{
  display: flex;
  width: 100%;
}
.section-fundador .img-fundador img{
  width: 100%;
}
.section-fundador .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  color: rgb(0, 0, 0);
  width: 400px;
  gap: 2em;
}
.section-fundador .encabezado{
  display: flex;
  flex-direction: column;
}
.section-fundador .info .parrafo{
  line-height: 1.5em;
  font-size: 18px;
  word-spacing: 0.5em;
}
.section-fundador .info .nombre{
  font-size: 26px;
  font-weight: 600;
  color: #0266f6;
}

/* SECTION PONENTES */
.section-ponentes{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3em;
  gap: 4em;
}
.section-ponentes .card-ponente{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  gap: 1em;
  color: white;
}
.section-ponentes .card-ponente img{
  width: 100%;
  border-radius: 50%;
  padding: 2em 2em;
}
.card-ponente .datos,
.card-ponente .info{
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  word-spacing: 0.5em;
}
.card-ponente .datos{
  text-align: center;
}

/* SECTION EJES */
.section-ejes{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3em;
  padding-bottom: 6em;
}
.section-ejes .titulo-img{
  display: flex;
  width: 50%;
}
.section-ejes .titulo-img img{
  width: 90%;
}
.section-ejes .contenido{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}
.section-ejes .contenido .item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.card-eje{
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;
  width: 320px;
}
.card-eje img{
  width: 50px;
}

/* SECTION FOOTER */
footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: linear-gradient(90deg, #0369f9, #48518c,#1e318d);
  color: #f4f4f4;
  padding: 2em;
  gap: 1em;
}
footer p{
  font-size: 14px;
}
footer img{
  width: 100%;
}

footer .politica{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
footer .politica img{
  width: 200px;
}

footer .politica .redes{
  display: flex;
  gap: 1em;
}
footer .politica .redes img{
  width: 40px;
}
footer .politica .organizado{
  width: 100px;
}

footer .trabaja{
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  text-align: center;
}

footer .trabaja span{
  font-weight: 600;
}

footer .trabaja .item{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

footer .trabaja input{
  background-color: #bdbdbd;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px;
}

footer nav{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 2em;
}
footer nav a{
  text-decoration: none;
  color: #f4f4f4;
  font-size: 18px;
}

footer .sociales{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .sociales .item{
  display: flex;
  gap: 1em;
  align-items: center;
}

footer .sociales .item img{
  width: 30px;
}
/* GENERAL */
.background{
  background: linear-gradient(90deg, #f66a12, #fbb714);
  background-size: cover;
}
.background-2{
  background: #41424a url('../assets/bg-actividades.png') no-repeat center center;
  background-size: cover;
}
.background-3{
  background: #fbb714 url('../assets/background-presidente.png') no-repeat center center;
  background-size: cover;
}
.background-4{
  background: #41424a url('../assets/bg-ejes-tematicos.png') no-repeat center center;
  background-size: cover;
}
.background-programate{
  background-color: white;
  border-radius: 60px;
}

/* FLOTANTE */

 /* Estilo del botón de WhatsApp */
 .whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 0px;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  color: white;
  border-radius: 50% 0% 0% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s;
  cursor: pointer;
}
.whatsapp-button img {
  width: 40px;
  height: 40px;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

.menu-toggle img{
  width: 30px;
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Oculto por defecto en pantallas grandes */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 1em;
  gap: 1em;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  max-height: 0;
  background: linear-gradient(90deg, #0369f9, #48518c,#1e318d);
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover{
  text-decoration: none;
}

.nav-links.active {
  max-height: 300px;
}

@media (min-width: 1281px) {
  /* SECTION HERO */

  .section-hero img {
    width: 40%;

  }
  /* SECTION PACTO */

  .section-pacto img {
    width: 30%;
  }

  /* SECTION REFLEXIONEMOS */
  .section-reflexionemos .titulo-img img {
    width: 50%;
  }
  .section-reflexionemos .titulo-img {
    width: 50%;
  }
  /* SECTION PROGRAMATE */
  .section-programate .titulo-img img {
    width: 50%;
  }
  .section-programate .titulo-img {
    width: 50%;
  }

  .section-ejes .titulo-img{
    display: flex;
    width: 50%;
  }
  .section-ejes .titulo-img img{
    width: 50%;
  }
}
@media (max-width: 1024px) {
  /* HEADER */
  header .container-fluid{
    display: none !important;
  }
  header .navbar-mobile{
    display: flex;
    padding: 1em;
  }
  /* SECTION HERO */
  .section-hero {
    padding: 2em;
  }
  .section-hero img {
    width: 80%;
    padding-top: 1em;
  }
  /* SECTION PACTO */
  .section-pacto {
    padding: 2em;
  }
  .section-pacto img {
    width: 70%;
  }
  .section-pacto .contador {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* SECTION REFLEXIONEMOS */
  .section-reflexionemos .titulo-img img {
    width: 100%;
  }
  .section-reflexionemos .titulo-img {
    width: 70%;
  }
  /* SECTION PROGRAMATE */
  .section-programate .titulo-img img {
    width: 100%;
  }
  .section-programate .titulo-img {
    width: 70%;
  }
  .section-programate .item img {
    padding: 1em 0.5em;
  }
  /* SECTION AGENDA */
  .section-agenda {
    padding: 1em;
  }
  /* SECTION CONFERENCIAS */
  .section-conferencias .card-conferencia {
    padding: 0em;
  }
}


@media (max-width: 767px) {
  /* HEADER */
  header .container-fluid{
    display: none !important;
  }
  header .navbar-mobile{
    display: flex;
    padding: 1em;
  }

  /* SECTION HERO */
  .section-hero{
    padding: 2em 0em;
  }
  .section-hero img {
    width: 100%;
    padding-top: 2em;
  }

  /* SECTION PACTO */
  .section-pacto{
    padding: 1em 1em;
  }
  .section-pacto img {
    width: 70%;
  }
  .section-pacto .contador{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
  }
  .section-pacto .contador .card-time{
    padding: 1em 1em;
  }
  .section-pacto .card-time .titulo{
    font-size: 20px;
  }
  .section-pacto .card-time .text{
    font-size: 25px;
    font-weight: 600;
  }
  .contador .title-count {
    font-size: 30px;
  }

  /* SECTION REFLEXIONEMOS */
  .section-reflexionemos {
    padding: 1em;
  }
  .section-reflexionemos .titulo-img {
    width: 100%;
    justify-content: center;
  }
  .section-reflexionemos .parrafos {
    flex-direction: column;
    align-items: center;
  }
  .section-reflexionemos .parrafos p{
    width: 100%;
  }

  /* SECTION PROGRAMATE */
  .section-programate {
    padding: 1em;
  }
  .section-programate .titulo-img {
    width: 100%;
    justify-content: center;
  }
  .section-programate .items-1, .section-programate .items-2, .section-programate .items-3 {  
    flex-direction: column;
  }

  /* SECTION AGENDA */
  .section-agenda {
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
  }

  /* SECTION CONFERENCIAS */
  .section-conferencias .items-1, .section-conferencias .items-2 {
    flex-direction: column;
  }
  .section-conferencias .card-conferencia {
    padding: 0em;
  }

  /* SECTION FUNDADOR */
  .section-fundador {
    grid-template-columns: repeat(1, 1fr);
    width: auto;
  }
  .section-fundador .info {
    width: auto;
    align-items: center;
  }

  /* SECTION PONENTES */
  .section-ponentes {
    flex-direction: column;
    align-items: center;
  }

  /* SECTION EJES */
  .section-ejes {
    padding: 1em;
  }
  .section-ejes .titulo-img {
    width: 100%;
    justify-content: center;
  }
  .section-ejes .contenido {
    flex-direction: column;
    align-items: center;
  }

  /* SECTION FOOTER */
  footer{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 2em;
  }

  footer .politica .redes {
    justify-content: center;
  }

  footer nav {
    padding-left: 0em;
    align-items: center;
  }
  footer .politica {
    align-items: center;
  }

  /* MENU */
  .menu-toggle {
    display: block; /* Muestra el ícono del menú */
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }
}